.form {
    margin-right: 250px;
    margin-top: 90px;
    padding: 20px 40px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* width: 100%; */
    max-width: 100%;
  }
  
 .form h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:#00676C;
    margin-bottom: 20px;
  }
  
  .fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .field {
    flex: 1;
    min-width: 200px;
  }
  
  .field label {
    display: block;
    margin-bottom: 8px;
    /* font-weight: bold; */
    font-family: 'Arial', sans-serif;
  }
  
  .field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    margin-bottom: 5px;
  }
  
  .field p {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #6c757d;
    margin-top: 0;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #00676C;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
  }
  
  .form button:hover {
    background-color: #00332e;
  }
  